<footer>
    <div class="container foot">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://github.com/yvonne-loves-ice-cream/" target="_blank">
                <img src="assets/image/github.png" alt="git" class="icons">
              </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/yvonne-sun-491574161/" target="_blank">
                  <img src="assets/image/linkedin.png" alt="git" class="icons">
                </a>
              </li>
              <li class="list-inline-item">
                <a href = "mailto: yvonneee.sun@mail.utoronto.ca" target="_blank">
                  <img src="assets/image/email.png" alt="email" class="icons">
                </a>
              </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; &#64;yvonne-loves-ice-cream | All rights reserved | {{year}} </p>
        </div>
      </div>
    </div>
  </footer>