<section class="landing">


  <a class="panel panel--work" [routerLink]="workLink">
    <div class="panel__bg" [style.backgroundImage]="'url(' + workImage + ')'"></div>
     <div class="panel__meta">
      <div class="panel__kicker">WORK</div>
      <div class="panel__links">RESUME · EXPERIENCE</div>
    </div>
  </a>


  <a class="panel panel--life" [routerLink]="lifeLink">
    <div class="panel__bg" [style.backgroundImage]="'url(' + lifeImage + ')'"></div>
     <div class="panel__meta">
      <div class="panel__kicker">BEYOND WORK</div>
      <div class="panel__links">MOVEMENT · SPIRITS</div>
    </div>
</a>


  <div class="brand-layer">
    <div class="brand-name">YVONNE</div>
  </div>

</section>
