<div class="content">
    <mat-card class="experience-card">
        <mat-card-header>
            <div mat-card-avatar class="bomberdier"></div>
            <mat-card-title>Full Stack Developer</mat-card-title>
            <mat-card-subtitle>Bombardier Inc.</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/bombardier-with-wowarker.jpg" alt="bombardier">
        <mat-card-content>
            <p style="font-weight: bolder;">Descriptions:</p>
            <p>
                <p>
                    Developed and maintained internal applications that support business workflows for line managers using a variety of tools and latest technologies.
                </p>
                <p style="font-weight: bolder;">Skills:</p>
                <p>
                    <span style="color: brown;">UML graph design; </span>
                    <span style="color: orangered;">Angular Framework; </span>
                    <span style="color: darkblue;">ASP.NET; </span>
                    <span style="color: purple;">SQL Server; </span>
                    <span style="color: darkgreen;">LINQ Query; </span>
                </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="experience-card right-card">
        <mat-card-header>
            <div mat-card-avatar class="cosco"></div>
            <mat-card-title>Assistant Project Manager</mat-card-title>
            <mat-card-subtitle>COSCO Inc.</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/cosco.jpeg" alt="cosco">
        <mat-card-content>
            <p style="font-weight: bolder;">Descriptions:</p>
            <p>
                <p>
                    Paticipated in the implementation of an internal insurance system, worked on both frontend and backend.
                </p>
                <p style="font-weight: bolder;">Skills:</p>
                <p>
                    <span style="color: brown;">Mockup design; </span>
                    <span style="color: orangered;">Vue.js; </span>
                    <span style="color: darkblue;">Django; </span>
                    <span style="color: purple;">MySQL; </span>
                    <span style="color: darkgreen;">SpringBoot; </span>
                </p>
        </mat-card-content>
    </mat-card>
</div>

<div class="content">
    <mat-card class="experience-card">
        <mat-card-header>
            <div mat-card-avatar class="uoft"></div>
            <mat-card-title>Student Developer</mat-card-title>
            <mat-card-subtitle>University of Toronto</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/stl.png" alt="uoft">
        <mat-card-content>
            <p style="font-weight: bolder;">Descriptions:</p>
            <p>
                <p>
                    Redesign the laboratory webpage using Adobe Illustrator. Implemented the actual web using Beavor Builder.
                </p>
                <p style="font-weight: bolder;">Skills:</p>
                <p>
                    <span style="color: brown;">Mockup Design; </span>
                    <span style="color: orangered;">Beaver Builder; </span>
                    <span style="color: darkblue;">JavaScript; </span>
                    <span style="color: purple;">Adobe Illustrator; </span>
                    <span style="color: darkgreen;">Zotero; </span>
                </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="experience-card right-card">
        <mat-card-header>
            <div mat-card-avatar class="cineplex"></div>
            <mat-card-title>UI designer</mat-card-title>
            <mat-card-subtitle>Cineplex</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/cineplex.jpeg" alt="cineplex">
        <mat-card-content>
            <p style="font-weight: bolder;">Descriptions:</p>
            <p>
                <p>
                    • Implemented a mobile application prototype using Figma to ensure that products met client specifications
                </p>
                <p style="font-weight: bolder;">Skills:</p>
                <p>
                    <span style="color: brown;">Wireframe design; </span>
                    <span style="color: orangered;">Design Usecase; </span>
                    <span style="color: darkblue;">Adobe Photoshop; </span>
                    <span style="color: purple;">UX Testing; </span>
                </p>
        </mat-card-content>
    </mat-card>
</div>