<div class="content">
    <img src="../../assets/image/yvonneandcat.jpg" alt="yvonne">
    <h3 class="t1">Hi, I'm Yvonne!</h3>
    <h3 class="t2">Full Stack Developer</h3>
    <div class="intro">
        <p>I am an <span style="font-weight: bolder;">Industrial Engineering</span> student at University of Toronto. Coding is my biggest passion and I can't wait to share it with everyone.
        </p>
        <p>I am currently doing my co-op internship program with Bombardier Inc. as a full stack developer. During this work term, I experienced the flee to commence a project and complete it along the way.
        </p>
        <p>I developed more solid coding skills and computer science knowledge. I got fully fascinated by <span style="color: darkred;">Angular Framework</span>. It is also how this website is built with.</p>
        <p>This website shares my work my skills, experiences, and a bit about my other interests.</p>
    </div>
</div>