<div class="content">
    <img src="../../assets/image/yvonneandcat.jpg" alt="yvonne">
    <h3 class="t1">Hi, I'm Yvonne!</h3>
    <h3 class="t2">Full Stack Developer</h3>
    <div class="intro">
        <p>I am an <span style="font-weight: bolder;">Industrial Engineering</span> student at University of Toronto. Coding is my biggest passion and I can't wait to share it with everyone.
        </p>
        <p>I am fortunate to have several work experiences and school projects which enabled me to sharpen my skills as a software engineer.
        </p>
        <p> I am actively looking for a full-time job. Please DM me for any interest of collaboration.</p>
        <p>This website shares my work, skills, experiences, and a bit about my other interests.</p>
        <p>You are also welcome to leave any random messages under my 'Blogs' session. I will check on them.:) </p>
    </div>
</div>
<div class="space"></div>
<app-footer></app-footer>